################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogManagement/.vs/BlogManagement
*.wsuo
*.json
/BlogManagement/BlogApp/BlogApp.csproj.user
/BlogManagement/.vs/ProjectEvaluation/blogmanagement.metadata.v7.bin
/BlogManagement/.vs/ProjectEvaluation/blogmanagement.projects.v7.bin
