################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogManagement/.vs/BlogManagement
*.wsuo
*.json
/BlogManagement/BlogApp/BlogApp.csproj.user
