################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogManagement/.vs/BlogManagement
*.wsuo
*.json
/BlogManagement/BlogApp/BlogApp.csproj.user
/BlogManagement/.vs/ProjectEvaluation/blogmanagement.metadata.v7.bin
/BlogManagement/.vs/ProjectEvaluation/blogmanagement.projects.v7.bin
/BlogManagement/.vs/ProjectEvaluation
/.vs/
/BlogManagement/BlogApp/appsettings.json
/BlogManagement/BlogApp/appsettings.json
/BlogManagement/.vs/
/BlogManagement/.vs/
/.vs/VSWorkspaceState.json

/BlogManagement/.vs/
/BlogManagement/.vs/CopilotSnapshots/579C3DE3EBDE66438656F17BF858C154
