@model ChangePasswordDto

<div class="fw-normal">
	<form method="post" asp-controller="Profile" asp-action="ChangePassword" 
		class="profile-form" id="reset-password-form">
		<div class="row mb-3">
			<div class="col form-floating">
				<input type="password" class="form-control" asp-for="@Model.OldPassword" placeholder="Old Password" autocomplete="off">
				<label for="OldPassword">Old Password</label>
				<span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
			</div>
			<div id="new-password-box" class="col form-floating invisible">
				<input type="password" class="form-control" asp-for="@Model.NewPassword" placeholder="New Password" autocomplete="off">
				<label for="NewPassword">New Password</label>
				<span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
			</div>
		</div>
		<div class="row px-3">
			<button class="btn btn-success w-25" id="update-password-button" hidden type="Submit">
				Update Password
			</button>
			<button class="btn btn-primary w-25" id="change-password-button" type="button">
				<img src="~/icons/pencil.svg" alt="Pencil icon" 
				style="width: 16px; height: 16px; margin-right: 5px;" >
				Change Password
			</button>
		</div>
	</form>
</div>

