@model User

@{
	ViewData["Title"] = $"{Model.Name}";
	var userInfoDto = new UserInfoDto
			{
				Name = Model.Name,
				Email = Model.Email,
				DateOfBirth = Model.DateOfBirth,
				CountryId = Model.CountryId,
				ProfileImageBytes = Model.ProfileImage
			};
}

<div class="container-fluid d-flex justify-content-center">
	<partial name="_UserInfo.cshtml" model="@userInfoDto"/>
</div>

<script src="~/js/profile.js"></script>
@section Scripts{ 
	<partial name="_ValidationScriptsPartial" />
<script>
	const myDate = "@Model.DateOfBirth.ToString()";
	formatDate(myDate);
	handleToggleInput();
	handleImageUpload();
</script>
}
