@model User

@{
	ViewData["Title"] = $"{Model.Name}";
	var userInfoDto = new UserInfoDto
			{
				Name = Model.Name,
				Email = Model.Email,
				DateOfBirth = Model.DateOfBirth,
				CountryId = Model.CountryId,
				ProfileImageBytes = Model.ProfileImage
			};
	var changePasswordDto = new ChangePasswordDto();
}


<div class="d-flex flex-column align-content-center">
<div>
	<ul class="nav nav-underline">
	  <li class="nav-item">
		<a class="nav-link " aria-current="page" asp-controller="Profile" asp-action="FollowersPage">
			My Followers
		</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link " aria-current="page" asp-controller="Profile" asp-action="FollowingsPage">
			My Followings
		</a>
	  </li>
	</ul>
</div>
<div class="d-flex flex-row justify-content-center">
	<partial name="_UserInfo.cshtml" model="@userInfoDto"/>
	<partial name="_ResetPassword.cshtml" model="@changePasswordDto"/>
</div>
</div>


<script src="~/js/profile.js"></script>
@section Scripts{ 
	<partial name="_ValidationScriptsPartial" />
<script>
	const myDate = "@Model.DateOfBirth.ToString()";
		document.addEventListener('DOMContentLoaded', function () {
			formatDate(myDate);
			handleToggleInput();
			handleImageUpload();
			handleResetPasswordButtons();
	});
</script>
}
